.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.containerTop {
  background-color: #282c34;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  position: relative;
}
.containerInner {
  height: 800px;
  width: 1310px;
  margin: 1px solid yellow;
  border-radius: 10px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.playerImgs {
  height: 40px !important;
  width: 40px !important;
  border: 1px solid red;
}
.playerImgs2 {
  height: 50px !important;
  width: 50px !important;
  border: 1px solid red;
}

.hidden {
  display: none;
}

.canvas {
  z-index: 1;
  border: 5px solid black;
  border-radius: 10px;
  position: absolute;

  left: 0;
  right: 0;
}

.canvas2 {
  /* display: none; */
  z-index: 2;
  border: 5px solid purple;
  border-radius: 10px;
  position: absolute;

  left: 0;
  right: 0;

  background-color: rgba(168,218,220, 0.5);
}

.debugDisplay {
  height: 120px;
  width: 450px;
  position: absolute;
  top: 0;
  /* bottom: 15px; */
  right: 0;
  border: 3px solid green;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.4);
  z-index: 3;

  /* display: none; */
}
.debugDisplay2 {
  height: 120px;
  width: 450px;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid red;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.4);
  z-index: 3;

  /* display: none; */
}
.settingsSwitch {
  border: 1px solid green;
  border-radius: 5px;
  padding: .5rem;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: .1rem;
  z-index: 3;
}
.setSwitchIcon {
  color: #000000;
}
