.debugBoxContainer {
  padding: .5rem 1rem;
}

.debugBoxList {
  padding: 0;
  list-style-type: none;
  /* columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: .2rem 0;
}

.debugBoxListItem > * {
  display: inline-block;
}
.debugBoxListItem3 > * {
  display: inline-block;
  padding-bottom: .5rem;
}

.debugBoxText {
  color: #000000;
  font-size: 1rem;
  margin-bottom: .5rem;
  text-align: center;
}
.debugBoxTextAlt {
  margin: 0;
  font-size: 15px;
}

.bold {
  font-weight: bolder;
}

.debugBoxIcon {
  color: #000000;
  margin: 0 .5rem 0 0;
  max-height: 2rem;
}
.debugBoxIcon2 {
  color: #000000;
  margin: 0;
  max-height: 2rem;
}
.debugBoxImg {
  height: 1.5rem;
  width: 1.5rem;
  /* display: inline-block; */
}
.debugBoxImgSelected {
  /* height: 2rem; */
  border: 1px solid green;
  border-radius: 5px;
  padding: .5rem;
  margin-top: .5rem;
}

.cellInfoSwitch {
  border: 3px solid blue;
  border-radius: 5px;
  padding: .5rem;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  right: .1rem;
  z-index: 3;
}
.cellInfoBox {
  border: 3px solid blue;
  border-radius: 5px;
  padding: .5rem;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  right: .1rem;
  z-index: 3;
  max-height: 18rem;
  max-width: 18rem;
}
.cellInfoBox2 {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 1rem;
  background-color: #ffffff;
  position: absolute;
  bottom: 4rem;
  left: .1rem;
  z-index: 3;
  max-height: 25rem;
  max-width: 18rem;
  overflow: scroll;

  text-align: center;
}

.cellInfoList {
  list-style-type: none;
  padding: 0;
}

.cellInfoListItem {

}

.cellInfoText {
  color: black;
  font-size: medium;
}

.gearPopover {
  display: block;
}

.showCritsBtn {
  width: 3rem;
}
.btnIcon {
  color: #ffffff;
}

.critList {
  display: inline-block;
  columns: 2;
}

.tooltip {
  background-color: #ffffff;
}
.tooltip-inner {
  padding: .5rem;
}

.carousel-control-prev-icon {
  color: #000000 !important;
}
.carousel-control-next-icon {
  color: #000000 !important;
}

.aiStatusBox {
  text-align: left;
}
.aiStatusBoxSwitch {
  margin: .1rem 0 0 1rem;
}

.aiStatHeadBox {
  margin: 0 auto;
  text-align: left;
}

.aiStatHeadBox > * {
  display: inline-block;
}

.staminaProgress {
  margin: 0.5rem .2rem 0 0;
  /* margin: .2rem .5rem 0 .5rem; */
  width: 3rem;
  /* display: inline; */
}

.cellInfoClose {
  position: absolute;
  right: 9px;
  top: 9px;
  color: #000000;
}

.aiStatusIcon {
  color: #000000;
}
