.debugBoxContainer {
  padding: 0.5rem 0.2rem;
}

.debugBoxList {
  padding: 0;
  list-style-type: none;
  /* columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.2rem 0;
}

.debugBoxListItem > * {
  display: inline-block;
}
.debugBoxListItem3 > * {
  display: inline-flex;
  /* padding-bottom: .5rem; */
}

.debugBoxText {
  color: #000000;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.debugBoxTextAlt {
  margin: 0;
  font-size: 15px;
}

.bold {
  font-weight: bolder;
}

.debugBoxIcon {
  color: #000000;
  margin: 0 0.5rem 0 0;
  max-height: 2rem;
}
.debugBoxIcon2 {
  color: #000000;
  margin: 0;
  max-height: 2rem;
}
.debugBoxImg {
  height: 1.5rem;
  width: 1.5rem;
  /* display: inline-block; */
}
.debugBoxImgSelected {
  /* height: 2rem; */
  border: 1px solid green;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.cellInfoSwitch {
  border: 3px solid blue;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  right: 0.1rem;
  z-index: 3;
}
.cellInfoBox {
  border: 3px solid blue;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  right: 0.1rem;
  z-index: 3;
  max-height: 26rem;
  max-width: 18rem;
}
.cellInfoBox2 {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 4rem;
  left: 0.1rem;
  z-index: 3;
  max-height: 25rem;
  max-width: 18rem;
  overflow: scroll;

  text-align: center;
}

.cellInfoList {
  list-style-type: none;
  padding: 0;
}

/* .cellInfoListItem {

} */

.cellInfoText {
  color: black;
  font-size: medium;
}

.popover {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 2px solid blue !important;
  border-radius: 5px !important;
}

.popoverHead {
  margin: 0 auto;
  text-decoration: underline;
}
.popoverList {
  padding: 0;
  list-style-type: none;
}
.popoverList > li > p {
  margin-bottom: 0.2rem;
}

.gearPopover {
  display: block;
}

.showCritsBtn {
  width: 3rem;
}
.btnIcon {
  color: #000000;
}

.critList {
  display: inline-block;
  columns: 2;
}

.tooltip {
  background-color: #ffffff;
}
.tooltip-inner {
  padding: 0.5rem;
}

.carousel-control-prev-icon {
  color: #000000 !important;
}
.carousel-control-next-icon {
  color: #000000 !important;
}

.aiStatusBox {
  text-align: left;
}
.aiStatusBoxSwitch {
  margin: 0.1rem 0 0 1rem;
}

.aiStatHeadBox {
  margin: 0 auto;
  text-align: left;
}

.aiStatHeadBox > * {
  display: inline-block;
}

.staminaProgress {
  margin: 0.5rem 0.2rem 0 0;
  /* margin: .2rem .5rem 0 .5rem; */
  width: 3rem;
  /* display: inline; */
}

.cellInfoClose {
  position: absolute;
  right: 9px;
  top: 9px;
  color: #000000;
}

.aiStatusIcon {
  color: #000000;
}

.cameraControlBox {
  width: fit-content;
  display: flex;
}

/* .cameraBoxMode {

} */
.cameraModeHighlighted {
  border: 2px solid purple;
  border-radius: 5px;
  margin: 0 0.5rem;
}

.cameraUIIcon {
  margin: 0 0.3rem;
  color: #000000;
}
.cameraUIIconAlert {
  margin: 0 0.3rem;
  color: red;
}

.defendSvg {
  position: relative;
  bottom: 2;
  right: 2;
  height: 50px;
  text-align: right;
  margin-bottom: 1rem;
}
